@{
    ViewData["Title"] = "Home Page";
}


    
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Welcome to the Sacrament Meeting Planner</h1>
            <ol id="steps-links">
                <li><a href="#">Create Meeting Details</a></li>
                <li><a href="#">Create Speakers Details</a></li>
                <li><a href="#">Link the Meeting and the Speaker</a></li>
            </ol>
        </div>
    </div>